venv
.venv
*.pyc
bin/
.project
*.ipynb
.idea/
app/static/.sass-cache/*
.DS_Store
.ipynb_checkpoints/
.settings/
*.zip
Archive/
staticfiles/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
