{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<h1>{% trans "About" %}</h1>

<div class="row">
	<div class="col-md-6">
<br>

<i><p>{% trans "Returning Citizen is the place where needs meet services." %}</p></i>
<p><a href="https://thereentrynetworkdc.wordpress.com/employment/">{% trans "Learn more about re-entry in the DC Metro Area." %}</a></p>

<br><a id="whobuilt"></a><h1>{% trans "Who built Returning Citizen?" %}</h1>

<p><br>Returning Citizen is an open source project, modeled off <a href="http://www.buscandomaryland.com/">Buscando</a>, an open source resource directory to assist Latin American children seeking refuge.
We are working to reformat our data to align with the new human services data specifications, an initiative to develop common standards and open platforms for the sharing of community resource directory data.</p>

<br><b><p>{% trans "Project Team" %}</b>
<br><a href="https://www.linkedin.com/in/annmillspaugh">Ann Millspaugh</a>
<br><a href="https://www.linkedin.com/in/ajschumacher">Aaron Schumacher</a>
<br><a href="https://www.linkedin.com/in/elaineayo">Elaine Ayo</a></p>


	<div class="col-md-6">
		<br><br>
	</div>
</div>


{% endblock %}
